<div class="container">
  <div class="columns is-desktop mt-3">
    <div class="column is-full">
      <div class="box">
        <h1 class="title has-text-centered is-full">Evolución del Paro en Castilla y León</h1>
        <p></p>
        <h2 class="subtitle has-text-centered">aaaa</h2>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile">
      <div class="tile is-primary is-8">
        <article class="tile is-child box">
          <app-map></app-map>
        </article>
      </div>
      <div class="tile is-vertical is-parent">
        <article class="tile is-child box">
          <app-graph></app-graph>
        </article>
        <article class="tile is-child box">
          <app-controls></app-controls>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box scrollable">
        <app-timeline></app-timeline>
      </article>
    </div>
  </div>
</div>