/* You can add global styles to this file, and also import other style files */
$light: #f8f8f8;
$red-main: #ff0000;
$blue-main: #0000ff;
$purple-main: #b388ff;
$purple-light: #e7b9ff;
$purple-dark: #805acb;
$text-main: #000000;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple-main;
$text: $text-main;

$link: $purple-light;

html {
  background-image: linear-gradient(to right, $purple-light, $purple-dark);
}

.arrow-pointer {
  width: 50px;
  height: 30px;
  background: $purple-light;
  position: relative;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  &:before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid $purple-light;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.arrow-pointer-red {
  width: 50px;
  height: 30px;
  background: $red-main;
  position: relative;
  align-items: center;
  text-align: center;
  color:white;
  margin-right: 15px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  &:before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid $red-main;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.arrow-pointer-blue {
  width: 50px;
  height: 30px;
  background: $blue-main;
  position: relative;
  align-items: center;
  text-align: center;
  color:white;
  margin-right: 15px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  &:before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid $blue-main;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.arrow-pointer-middle {
  width: 50px;
  height: 30px;
  background: $purple-main;
  position: relative;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  &:before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid $purple-main;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.arrow-pointer-year {
  width: 100%;
  height: 30px;
  background: $purple-dark;
  position: relative;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  margin-top: 5px;

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  &:before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid $purple-dark;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.month-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  user-select: none;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  user-select: none;
}

.year-width{
  margin-right: 20px;
}

.horizontal {
  display: flex;
  justify-content: start;
  flex-wrap:nowrap;
}

.scrollable{
  overflow-x: scroll;
  margin-bottom: 20px;
}

.tooltip{
  min-width: 300px;
  min-height: 300px;
}

.month-space{
  height: 30px;
}

.event-point {
  width: 15px;
  height: 15px;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  transform: rotate(-45deg);
  margin-right: 3px;
  cursor: pointer;
}

.event-red{
  background: #ff0000;
}

.event-green{
  background: #00ff00;
}

.event-blue{
  background: #0000ff;
}

.event-yellow{
  background: #ffff00;
}

.square-red{
  height: 10px;
  width: 10px;
  margin-right: 3px;
  background-color: #ff0000;
}

.square-green{
  height: 10px;
  width: 10px;
  margin-right: 3px;
  background-color: #00ff00;
}

.square-blue{
  height: 10px;
  width: 10px;
  margin-right: 3px;
  background-color: #0000ff;
}

.square-yellow{
  height: 10px;
  width: 10px;
  margin-right: 3px;
  background-color: #ffff00;
}

.square-other{
  height: 10px;
  width: 10px;
  margin-right: 3px;
  background-color: #00cae9;
}

.lateral-space{
  margin-right: 20px;
}

.month-dropdown{
  width: 150px;
}

.legend-small{
  font-size: 12px;
}

@import "../node_modules/bulma/bulma.sass";